
/*logo*/
header{
    display: flex;
    justify-content:center
}

button {
    border-radius: 19px; 
    padding: 0.85em 1.5em;
    font-size: 1 em;
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
    background-color: #0b45c2;
    border: 1px solid #222;
    font-family: 'Spartan';
  }

  
/*ordenar A Z
button{
    border-radius: 19px;
    width: 200px;
    height: 30px; 
    padding: 5px;
    justify-content:center;   

}*/


/*ordenar Z A
#OrdenarZA{
    border-radius: 20px;
    display: flex;
    width: 200px;
    height: 30px; 
    padding: 5px;
}*/

 #container{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 5%;
    justify-content: space-around;
    text-align: center;
    text-align: flex-end;
}

article{
    background: linear-gradient(55.56deg, #FC7CFF 0%, #FA5AFD 100%);
    border-radius: 20px;
    margin: 1% 1% 8% 1%;
    height: 100px;
}

.pokemon-image{
    margin-top: -45px;
}

.pokemon-name{
    margin-top: -2px;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    color: #FFFFFF;
}

